<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/weather.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Weather</title>
</head>
<body>
    {{>header}}
    <div class="container">
        <h1 id="header1">{{title}}</h1>
        <h2 class="header2">Get Your Weather Data.</h2>
        <h2 class="header2">Start Now!</h2>
        <form>
            <input placeholder="Enter a location..." required>
            <button>Search</button>
        </form>

        <p id="message1"></p>
        <div id="forecastBox">
            
            <h2 id="forecast-header"></h2><br><br>
            <table style="width: 100%; text-align:center;">
                <tr>
                    <th class="td-th">STATUS</th>
                    <th class="td-th">TEMPERATURE</th>
                    <th class="td-th">LOCATION</th>
                </tr>
                
                <tr>
                    <td><img><p id="description">Sunny</p></td>
                    <td><img><p id="temperature">14</p></td>
                    <td><img><p id="location">Istanbul</p></td>
                </tr>

                <tr style="margin-top: 20px;">
                    <th class="td-th">HUMIDITY</th>
                    <th class="td-th">FEELS LIKE</th>
                    <th class="td-th">LOCAL TIME</th>
                </tr>

                <tr>
                    <td><img><p id="humidity">45</p></td>
                    <td><img><p id="feelslike">13</p></td>
                    <td><img><p id="localtime">19:46</p></td>
                </tr>
                
                <tr>
                    <th class="td-th">OBSERVATION TIME</th>
                </tr>

                <tr>
                    <td><p id="observation_time">19:45</p></td>
                </tr>
            </table>
            
        </div>
    </div>
    
    {{>footer}}
    <script src="./js/app.js"></script>
</body>
</html>