<header>
    <h2>Weather App</h2>
    <div class="navbar-container">
        
        <div>
            <a href="/about">About</a>
            <a href="/help">Help</a>
            <a href="/">Weather</a>
            
            
        </div>
    </div>
</header>

