<header>
    <a id="header-h1" href="/">WeatherApp</a>
     
        <div style="margin-right: 30px;">
            <a href="/about">About</a>
            <a href="/help">Help</a>
            <a href="/">Weather</a>
                
        </div>
</header>

